<h2>演奏会情報</h2>
<h3>第9回演奏会</h3>
<a href="images/9thleaf.jpg"
    ><img src="images/9thleaf.jpg" alt="" align="left" class="leaflet"
/></a>
<div class="imageTextDiv">
    <dl class="datetime">
        <dt>日時：</dt>
        <dd>
        2023年10月1日(日)<br/>
        14:00開演<span class="supplement">(13:15開場)</span>
        </dd>
    </dl>
    <dl class="place">
        <dt>会場：</dt>
        <dd>
        フェニーチェ堺 大ホール<br/>
            <span class="supplement">南海高野線「堺東駅」下車 南へ徒歩8分</span>
        </dd>
    </dl>
    <p>
        <b>
            <big>入場無料</big>
        </b
      ><br/>
      未就学児のご入場はご遠慮ください<br/>
    </p>
    <p>
      指揮：村瀨　涼<br/>
      ピアノ：薮内　弥侑
    </p>
</div>

<br clear="all"/>

<div class="programDiv">
    <center>
        <b>―プログラム―</b><br/></center>
    <p>
        <span class="composer"> ドビュッシー </span><br/>
        <span class="pieceTitle">喜びの島 </span><br/>
    </p>
    <p>
        <span class="composer"> 伊福部昭 </span><br/>
        <span class="pieceTitle"
        >ピアノとオーケストラのためのリトミカ・オスティナータ</span
      ><br/>
    </p>
    <p>
        <span class="composer"> オネゲル </span><br/>
        <span class="pieceTitle">喜びの歌</span><br/>
    </p>
    <p>
        <span class="composer"> 吉松隆 </span><br/>
        <span class="pieceTitle">交響曲第4番</span><br/>
    </p>
</div>