<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="keywords"
      content="オーケストラ・ポミエ,りんごオケ,ラフマニノフ,交響曲第3番,ラヴェル,クープランの墓,エルガー,コケイン序曲,"
    />
    <link rel="stylesheet" href="css/common.css" type="text/css" />
    <style>
    </style>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <title>L'orchestre Pommier オーケストラ・ポミエ</title>
    <link
      rel="icon"
      type="image/png"
      href="images/favicon-32x32.png"
      sizes="32x32"
    />
    <link rel="apple-touch-icon" href="images/favicon-152x152" />
    <!--<script type="text/javascript">
        $(function () {
            $('#headImage ul').autoChange({ effect: 'fade', type: 'repeat', timeout: 5000, speed: 2000 });
        });
    </script>-->
  </head>

  <body>
    <div id="top">
      <div id="header">
        <h1><a href="index.html">L'orchestre Pommier</a></h1>
        <div class="ninja_onebutton">
          <script type="text/javascript">
            //<![CDATA[
            (function (d) {
              if (
                typeof window.NINJA_CO_JP_ONETAG_BUTTON_f4660170c709c299b18ce6e425216717 ==
                "undefined"
              ) {
                document.write(
                  "<sc" +
                    "ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/f4660170c709c299b18ce6e425216717'><\/sc" +
                    "ript>"
                );
              } else {
                window.NINJA_CO_JP_ONETAG_BUTTON_f4660170c709c299b18ce6e425216717.ONETAGButton_Load();
              }
            })(document);
            //]]>
          </script>
          <span class="ninja_onebutton_hidden" style="display: none"></span
          ><span style="display: none" class="ninja_onebutton_hidden"></span>
        </div>
      </div>
      <!-- /#header -->

      <div id="menu">
        <ul>
          <li>
            <a href="about.html"
              ><div><p>オーケストラ・ポミエとは</p></div></a
            >
          </li>
          <li>
            <a href="info.html"
              ><div><p>演奏会情報</p></div></a
            >
          </li>
          <li>
            <a href="old.html"
              ><div><p>過去の演奏会</p></div></a
            >
          </li>
          <li>
            <a href="inq.html"
              ><div><p>お問い合わせ</p></div></a
            >
          </li>
          <li>
            <a href="link.html"
              ><div><p>リンク</p></div></a
            >
          </li>
        </ul>
      </div>
      <!-- /#menu -->
      <div id="headImage">
        <ul>
          <!--<li><img src="images/icatch01.jpg" alt="" /></li>-->
          <li><img src="images/icatch05.png" alt="" /></li>
          <!--<li><img src="images/icatch03.jpg" alt="" /></li>-->
        </ul>
      </div>
      <!-- /#headImage -->
      <div id="contents">
        {{ content | safe }}
        <div id="sub">
          <div class="section">
            <h2>MENU</h2>
            <ul>
              <li><a href="index.html">ホーム</a></li>
              <li><a href="about.html">オーケストラ・ポミエとは</a></li>
              <li><a href="info.html">演奏会情報</a></li>
              <li><a href="old.html">過去の演奏会</a></li>
              <li><a href="inq.html">お問い合わせ</a></li>
              <li><a href="link.html">リンク</a></li>
            </ul>
            <!-- FC2カウンター ここから -->
            <script
              language="javascript"
              type="text/javascript"
              src="http://counter1.fc2.com/counter.php?id=20896340&main=1"
            ></script>
            <noscript
              ><img
                src="http://counter1.fc2.com/counter_img.php?id=20896340&main=1"
            /></noscript>
            <!-- FC2カウンター ここまで --><br />
            <a
              class="twitter-timeline"
              href="https://twitter.com/orchPommier"
              data-widget-id="368585069310390274"
              >@orchPommier からのツイート</a
            >
            <script>
              !(function (d, s, id) {
                var js,
                  fjs = d.getElementsByTagName(s)[0],
                  p = /^http:/.test(d.location) ? "http" : "https";
                if (!d.getElementById(id)) {
                  js = d.createElement(s);
                  js.id = id;
                  js.src = p + "://platform.twitter.com/widgets.js";
                  fjs.parentNode.insertBefore(js, fjs);
                }
              })(document, "script", "twitter-wjs");
            </script>
          </div>
          <!-- /.section -->
        </div>
        <!-- /#sub -->
      </div>
      <!-- /#contents -->
      <div id="pageTop">
        <a href="#">ページのトップへ戻る</a>
      </div>
      <!-- /#pageTop -->
      <div id="footer">
        <div class="copyright">
          Copyright &copy; 2013 L'orcestre Pommier All Rights Reserved.
        </div>
      </div>
      <!-- /footer -->
    </div>
    <!-- /top -->
  </body>
</html>
