---
layout: layout.njk
permalink: "about.html"
---

<h1>About Us</h1>
<div id="main">
  <h2>オーケストラ・ポミエとは</h2>
  <p>
    関西の学生・アマチュアオーケストラ団員を中心に、有志によって2013年に結成されたオーケストラ。<br />
    「アマチュアオーケストラでは演奏機会が少ない曲目を取り上げる」をコンセプトに掲げて活動しています。<br />
    メンバーを固定せず、演奏会毎に出演者を募るというスタイルを採っています。
  </p>
  <h2>指揮者紹介</h2>
  <h3>村瀬　涼</h3>
  <p>
    大阪府立大学交響楽団、元・正指揮者。<br />
    在任中はスクリャービンの交響曲第2番をはじめ、学生オーケストラでは演奏機会の少ない楽曲を精力的に紹介し、
    また、ラフマニノフの交響曲第2番といった大編成の楽曲にも取り組んだ。
    現在は指揮者と奏者、両面の立場から後進の育成にあたる。<br />
    この度、縁あってオーケストラ・ポミエの常任指揮者を務めることとなった。
  </p>
</div>
<!-- /#main -->
