---
layout: layout.njk
---

<h1>Welcome to L'orchestre Pommier</h1>
<div id="main">
  {% include "concert.njk" %}
  <h4>SNS</h4>
  <center>
    <big>
      <a href="https://twitter.com/orchPommier" target="_blank">twitter</a>、<a
        href="https://www.facebook.com/orchestrepommier"
        target="_blank"
        >facebook</a
      >でも活動の様子を発信しています！<br />
      <a href="https://twitter.com/orchPommier" target="_blank">
        <img src="images/twticon.png" alt="" width="100" height="100" />
      </a>
      <a href="https://www.facebook.com/orchestrepommier" target="_blank">
        <img src="images/fbicon.png" alt="" width="100" height="100" />
      </a>
    </big>
  </center>
  <h2>更新情報</h2>
  <dl id="updateInfo">
    <dt><span>2023-06-14</span></dt>
    <dd>
      <div><a href="info.html">第9回演奏会情報</a>を更新しました。<br /></div>
    </dd>
    <dt><span>2022-04-01</span></dt>
    <dd>
      <div><a href="info.html">第8回演奏会情報</a>を更新しました。<br /></div>
    </dd>
    <dt><span>2018-10-07</span></dt>
    <dd>
      <div><a href="info.html">第7回演奏会情報</a>を更新しました。<br /></div>
    </dd>
    <dt><span>2017-09-03</span></dt>
    <dd>
      <div>第6回演奏会は終演いたしました。ご来場ありがとうございました！</div>
    </dd>
    <dt><span>2017-06-01</span></dt>
    <dd>
      <div>
        <a href="images/6thleaf.png">第6回演奏会チラシ</a>を掲載しました。<br />
      </div>
    </dd>
    <dt><span>2017-04-01</span></dt>
    <dd>
      <div>
        <a href="old.html">第6回演奏会プログラム</a>を掲載しました。<br />
      </div>
    </dd>
    <dt><span>2016-11-30</span></dt>
    <dd>
      <div><a href="old.html">第6回演奏会情報</a>を更新しました。<br /></div>
    </dd>
    <dt><span>2015-10-22</span></dt>
    <dd>
      <div>
        <a href="old.html">第5回演奏会情報</a>を更新しました。<br />
        開場・開演時間、親子室のご案内などを追加。
      </div>
    </dd>

    <dt><span>2015-09-26</span></dt>
    <dd>
      <div>
        第4回演奏会、無事に終演いたしました。ご来場ありがとうございました！<br />
        <a href="old.html">第5回演奏会情報</a>を更新しました。<br />
      </div>
    </dd>

    <dt><span>2015-04-12</span></dt>
    <dd>
      <div>
        第3回演奏会、無事に終演いたしました。ご来場ありがとうございました！<br />
        <a href="old.html">第4回演奏会情報</a>を更新しました。<br />
      </div>
    </dd>

    <dt><span>2014-10-13</span></dt>
    <dd>
      <div><a href="old.html">第3回演奏会情報</a>を更新しました。<br /></div>
    </dd>

    <dt><span></span></dt>
    <dd>
      <div>継続的にサイトレイアウト調整中<br /></div>
    </dd>
  </dl>
</div>
<!-- /#main -->
