---
layout: layout.njk
permalink: "info.html"
---

<h1>Concert Information</h1>
<div id="main">
    {% include "concert.njk" %}
    <h2>お問い合わせ</h2>
    <p>演奏会、チラシ挟み込みなどについてのお問い合わせは<a href="inq.html">こちら</a>
    </p>
</div>
<!-- /#main -->