---
layout: layout.njk
permalink: "inq.html"
---

<h1>Contact Us</h1>
<div id="main">
  <h2>お問い合わせ</h2>
  <!-- FC2RetalForm Start -->
  <script
    type="text/javascript"
    src="http://form1.fc2.com/parts/index.php?id=866363"
  ></script>
  <noscript>
    <a href="http://form1.fc2.com/form/?id=866363" target="_blank"
      >[FC2メールフォーム]</a
    >
  </noscript>
  <!-- FC2RetalForm End   -->
  <p></p>
</div>
<!-- /#main -->