---
layout: layout.njk
permalink: "link.html"
---
<h1>Links</h1>
<div id="main">
    <h2>オーケストラ・ポミエ　SNSアカウント</h2>
    <p>
                    ・Twitter　<a href="https://twitter.com/orchPommier" target="_blank">@orchPommier</a>　フォローよろしくお願いします！<br/>
                    ・Facebookページ　<a href="https://www.facebook.com/orchestrepommier" target="_blank">https://www.facebook.com/orchestrepommier</a><br/>
    </p>
    <h2>大学オーケストラ</h2>
    <p>
        <a href="http://handaiphil.s198.xrea.com/" target="_blank">大阪大学交響楽団</a><br/>
        <a href="http://ocusym.sub.jp/" target="_blank">大阪市立大学交響楽団</a><br/>
        <a href="http://www.fudaioke.com/index.html" target="_blank">大阪府立大学交響楽団</a><br/>
        <a href="http://orchestra.musicinfo.co.jp/~kandaioke/" target="_blank">関西大学交響楽団</a><br/>
        <a href="http://orchestra.musicinfo.co.jp/~kgso1/" target="_blank">関西学院交響楽団</a><br/>
        <a href="http://www.cc.kyoto-su.ac.jp/circle/koyama-symphony/main.html" target="_blank">京都産業大学神山交響楽団</a><br/>
        <a href="http://kyodaioke.com/" target="_blank">京都大学交響楽団</a><br/>
        <a href="http://konan.symphonic-net.com/" target="_blank">甲南大学文化会交響楽団</a><br/>
        <a href="http://home.kobe-u.com/symphony/" target="_blank">神戸大学交響楽団</a><br/>
        <a href="http://orchestra.musicinfo.co.jp/~usp-orch/index.html" target="_blank">滋賀県立大学オーケストラ</a><br/>
        <a href="http://www.geocities.co.jp/Hollywood/8002/" target="_blank">奈良女子大学管弦楽団</a><br/>
        <a href="http://ruso.s297.xrea.com/" target="_blank">立命館大学交響楽団</a><br/>
        <a href="http://rso.main.jp/" target="_blank">龍谷大学交響楽団</a><br/>
        <a href="http://wadaioke.web.fc2.com/" target="_blank">和歌山大学交響楽団</a><br/>
        <a href="http://hannshinngakuseioke2012.web.fc2.com/index.html" target="_blank">阪神学生オーケストラ</a><br/>
    </p>
    <h2>アマチュアオーケストラ</h2>
    <p>
        <a href="http://ensemblefree.sakura.ne.jp/" target="_blank">アンサンブル・フリー</a><br/>
        <a href="http://www.e-forza.net/" target="_blank">オーケストラ・アンサンブル・フォルツァ</a><br/>
        <a href="http://hccweb1.bai.ne.jp/aiphonic/city.html" target="_blank">伊丹シティフィルハーモニー管弦楽団</a><br/>
        <a href="http://hibiki2004.net/web/" target="_blank">交響楽団ひびき</a><br/>
        <a href="http://zukakyo.com/" target="_blank">宝塚市交響楽団</a><br/>
        <a href="http://nagomiorch.web.fc2.com/" target="_blank">和み交響楽団</a><br/>
    </p>
    <h2>演奏会情報サイト</h2>
    <p>
        <a href="http://i-amabile.com/" target="_blank">i-amabile</a><br/>
        <a href="http://okesen.snacle.jp/" target="_blank">オケ専♪</a><br/>
        <a href="http://www.concertsquare.jp/" target="_blank">コンサートスクエア</a><br/>
        <a href="http://www2s.biglobe.ne.jp/%7Ejim/freude/index.html" target="_blank">アマチュアオーケストラのサイトFreude</a><br/>
        <h2>ホール関係</h2>
    </p>
    <p>
        <a href="http://www.archaic.or.jp/index.html" target="_blank">尼崎市総合文化センター　あましんアルカイックホール</a><br/>
        <a href="http://www.kobe-bunka.jp/hall/" target="_blank">神戸文化ホール</a><br/>
        <a href="http://www.symphonyhall.jp/" target="_blank">ザ・シンフォニーホール</a><br/>
        <a href="http://www.city.takatsuki.osaka.jp/cgi-bin/cms/theater/display_top.cgi" target="_blank">高槻現代劇場</a><br/>
    </p>
</div>
<!-- /#main -->