---
layout: layout.njk
permalink: "old.html"
---
<h1>Past Concert</h1>
<div id="main">
    <h2>過去の演奏会</h2>
    <h3>第８回演奏会</h3>
    <a href="images/8thleaf.jpg" target="_blank"><img src="images/8thleaf.jpg" alt="" align="left" class="oldLeaflet"/></a>
    <div class="oldLeftletText">
        <dl>
            <dt>日時：</dt>
            <dd> 2022年9月3日（土）</dd>
        </dl>
        <dl>
            <dt>会場：</dt>
            <dd>アプラたかいし 大ホール</dd>
        </dl>
        <div class="oldProgram">
            <dl>
                <dt>伊福部昭</dt>
                <dd>土俗的三連画 </dd>
                <dt>吉松隆</dt>
                <dd>鳥と虹によせる雅歌</dd>
                <dt>ドビュッシー(カプレ編曲)</dt>
                <dd>子供の領分</dd>
                <dt>プーランク</dt>
                <dd>シンフォニエッタ</dd>
            </dl>
        </div>
    </div>
    <h3>第７回演奏会</h3>
    <a href="images/7thleaf.png" target="_blank"><img src="images/7thleaf.png" alt="" align="left" class="oldLeaflet"/></a>
    <div class="oldLeftletText">
        <dl>
            <dt>日時：</dt>
            <dd> 2019年9月28日（土）</dd>
        </dl>
        <dl>
            <dt>会場：</dt>
            <dd>寝屋川市立地域交流センター AruKasホール</dd>
        </dl>
        <div class="oldProgram">
            <dl>
                <dt>ドビュッシー</dt>
                <dd>小組曲 </dd>
                <dt>ラヴェル</dt>
                <dd>マ・メール・ロワ(バレエ版)</dd>
                <dt>シャブリエ</dt>
                <dd>田園組曲</dd>
                <dt>オネゲル</dt>
                <dd>交響曲第4番</dd>
            </dl>
        </div>
    </div>
    <h3>第６回演奏会</h3>
    <a href="images/6thleaf.png" target="_blank"><img src="images/6thleaf.png" alt="" align="left" class="oldLeaflet"/></a>
    <div class="oldLeftletText">
        <dl>
            <dt>日時：</dt>
            <dd> 2017年9月2日（土）</dd>
        </dl>
        <dl>
            <dt>会場：</dt>
            <dd>尼崎市総合文化センター あましんアルカイックホール</dd>
        </dl>
        <div class="oldProgram">
            <dl>
                <dt>オネゲル</dt>
                <dd>夏の牧歌 </dd>
                <dt>キース・エマーソン(吉松 隆 編)</dt>
                <dd>タルカス</dd>
                <dt>アッテルベリ</dt>
                <dd>交響曲第2番ヘ長調</dd>
            </dl>
        </div>
    </div>
    <h3>第５回演奏会</h3>
    <a href="images/5thleaf.png" target="_blank"><img src="images/5thleaf.png" alt="" align="left" class="oldLeaflet"/></a>
    <div class="oldLeftletText">
        <dl>
            <dt>日時：</dt>
            <dd>2016年3月5日（土）</dd>
        </dl>
        <dl>
            <dt>会場：</dt>
            <dd>いたみホール（伊丹市立文化会館） 大ホール</dd>
        </dl>
        <div class="oldProgram">
            <dl>
                <dt>ラヴェル</dt>
                <dd>管弦楽のための舞踏詩「ラ・ヴァルス」</dd>
                <dt>スクリャービン</dt>
                <dd>交響曲第4番「法悦の詩」 作品54</dd>
                <dt>エルガー</dt>
                <dd>交響曲第2番 変ホ長調 作品63</dd>
                <dt>【アンコール】バリィグレー</dt>
                <dd>サンダーバードのテーマより</dd>
            </dl>
        </div>
    </div>

    <h3>第４回演奏会</h3>
    <a href="images/4thleaf.png" target="_blank"><img src="images/4thleaf.png" alt="" align="left" class="oldLeaflet"/></a>
    <div class="oldLeftletText">
        <dl>
            <dt>日時：</dt>
            <dd>2015年9月26日（土）</dd>
        </dl>
        <dl>
            <dt>会場：</dt>
            <dd>尼崎市総合文化センター　あましんアルカイックホール</dd>
        </dl>
        <div class="oldProgram">
            <dl>
                <dt>ラヴェル</dt>
                <dd>古風なメヌエット</dd>
                <dt>Ｒ.シュトラウス</dt>
                <dd>交響詩「ティル・オイレンシュピーゲルの愉快ないたずら」</dd>
                <dt>スクリャービン</dt>
                <dd>交響曲第3番「神聖な詩」</dd>
                <dt>【アンコール】ハチャトゥリアン</dt>
                <dd>「ガイーヌ」第一組曲より『レズギンカ』</dd>
            </dl>
        </div>
    </div>

    <h3>第３回演奏会</h3>
    <a href="images/3rdleaf.jpg" target="_blank"><img src="images/3rdleaf.jpg" alt="" align="left" class="oldLeaflet"/></a>
    <div class="oldLeftletText">
        <dl>
            <dt>日時：</dt>
            <dd>2015年4月11日（土）</dd>
        </dl>
        <dl>
            <dt>会場：</dt>
            <dd>神戸文化ホール　中ホール</dd>
        </dl>
        <div class="oldProgram">
            <dl>
                <dt>ヒンデミット</dt>
                <dd>交響曲「画家マティス」</dd>
                <dt>チャドウィック</dt>
                <dd>交響的スケッチ</dd>
                <dt>ヴォーン・ウィリアムズ</dt>
                <dd>交響曲第4番ヘ短調</dd>
            </dl>
        </div>
    </div>

    <h3>第２回演奏会</h3>
    <a href="images/2ndleafA.jpg" target="_blank"><img src="images/2ndleafA.jpg" alt="" align="left" class="oldLeaflet"/></a>
    <div class="oldLeftletText">
        <dl>
            <dt>日時：</dt>
            <dd>2014年9月7日（日）</dd>
        </dl>
        <dl>
            <dt>会場：</dt>
            <dd>高槻現代劇場　大ホール</dd>
        </dl>
        <div class="oldProgram">
            <dl>
                <dt>プロコフィエフ</dt>
                <dd>交響的物語「ピーターと狼」</dd>
                <dt>ブルックナー</dt>
                <dd>交響曲第9番ニ短調</dd>
                <dt>【アンコール】ヘルメスベルガー２世</dt>
                <dd>悪魔の踊り</dd>
            </dl>
        </div>
    </div>

    <h3>第１回演奏会</h3>
    <a href="images/1stleaf.jpg" target="_blank"><img src="images/1stleaf.jpg" alt="" align="left" class="oldLeaflet"/></a>
    <div class="oldLeftletText">
        <dl>
            <dt>日時：</dt>
            <dd>2014年3月8日（土）</dd>
        </dl>
        <dl>
            <dt>会場：</dt>
            <dd>尼崎市総合文化センター　あましんアルカイックホール</dd>
        </dl>
        <div class="oldProgram">
            <dl>
                <dt>エルガー</dt>
                <dd>序曲「コケイン」（首都ロンドンにて）</dd>
                <dt>ラヴェル</dt>
                <dd>クープランの墓</dd>
                <dt>ラフマニノフ</dt>
                <dd>交響曲第3番イ短調　作品44</dd>
            </dl>
        </div>
    </div>

    <h2>過去の行事</h2>
    <h3>第1回アンサンブル大会</h3>
    <p>
                    2013/4/28<br/>
                    指揮：小田原聡志・村瀬涼<br/>
                    ・ブラームス／交響曲第2番<br/>
                    ・チャイコフスキー／交響曲第5番<br/>
                    ・ベートーベン／エグモント序曲<br/>
                    ・ホルスト／火星<br/>
    </p>
    <h3>第2回アンサンブル大会</h3>
    <p>
                    2013/9/13<br/>
                    指揮：村瀬涼<br/>
                    ・メンデルスゾーン／交響曲第3番「スコットランド」<br/>
                    ・ベートーベン／交響曲第7番<br/>
                    ・ボロディン／だったん人の踊り<br/>
                    ・ラフマニノフ／交響曲第2番<br/>
    </p>
</div>
<!-- /#main -->